.rama-nav {
  font-size: 150%;
  font-family: rama-gothic-e, sans-serif;
  font-style: normal;
  font-weight: 600;
}

.rama-header {
  font-family: rama-gothic-c, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 800%;
}

p {
  font-family: rama-gothic-e, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 150%;
  padding: 5px;
  color: rgb(45, 255, 254);
}

html {
  background-color: black;
}

h1 {
  color: rgb(253, 121, 251);
}

a {
  font-family: rama-gothic-e, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 150%;
  margin: 0%;
}

#app-div {
  background-color: black;
}

#work-gallery {
  width: 700px;
  margin-right: 0px;
  left: 75px;
}

#map {
  width: 700px;
  margin-right: 0px;
  left: 75px;
}

#maps-info-window {
  color: black;
  font-family: rama-gothic-e, sans-serif;
}

/* #work {
  border-top: 5px;
  border-bottom: 2.55px;
  border-left: 5px;
  border-right: 5px;
  border-style: solid;
  padding: 10px;
  margin: 0px;
  border-image: linear-gradient(
    to right,
    rgb(253, 121, 251) 0%,
    rgb(45, 255, 254) 100%
  );
  border-image-slice: 1;
}

#about {
  border-top: 2.5px;
  border-bottom: 2.5px;
  border-left: 5px;
  border-right: 5px;
  border-color: white;
  border-style: solid;
  padding: 10px;
  margin: 0px;
  border-image: linear-gradient(
    to right,
    rgb(253, 121, 251) 0%,
    rgb(45, 255, 254) 100%
  );
  border-image-slice: 1;
}

#contact {
  border-top: 2.5px;
  border-bottom: 5px;
  border-left: 5px;
  border-right: 5px;
  border-color: white;
  border-style: solid;
  padding: 10px;
  margin: 0px;
  border-image: linear-gradient(
    to right,
    rgb(253, 121, 251) 0%,
    rgb(45, 255, 254) 100%
  );
  border-image-slice: 1;
} */

/* .border-right {
  border-right: 5px;
  border-color: white;
  border-style: solid;
} */
